<!-- Importar el archivo base.html -->

{% extends 'base.html' %}

 

<!-- Define el título de la página -->

{% block title %}Crear Curso{% endblock %}

 

<!-- Define el contenido de la página -->

{% block content %}

<form method="post" class="mx-auto" style="max-width: 400px">

  {% csrf_token %}

  <div class="mb-3">

    <label for="title" class="form-label">Título del Curso</label>

    <input type="text" class="form-control" id="title" name="title" required />

  </div>

  <div class="mb-3">

    <label for="description" class="form-label">Descripción</label>

    <textarea

      class="form-control"

      id="description"

      name="description"

      required

    ></textarea>

  </div>



  <div class="mb-3">

    <label for="duration" class="form-label">Duración (horas)</label>

    <input

      type="number"

      class="form-control"

      id="duration"

      name="duration"

      required

    />

  </div>

  <button type="submit" class="btn btn-primary w-100">Crear Curso</button>

</form>

<a href="{% url 'course_list' %}" class="btn btn-secondary mt-3"

  >Volver al listado de cursos</a

>

 

<!-- Fin del bloque de contenido -->

{% endblock %}



